<main role="main" class="container mt-5">

<p>resumen works!</p>

<ul class="list-group">
    <li class="list-group-item disabled"><h4>Carrito de la compra</h4></li>
    <li *ngFor="let boughtItem of boughtItems"
    class="list-group-item">{{boughtItem.title}}
    <span class="badge badge-primary badge-pill">{{boughtItem.price | currency:"&euro;"}}</span>
  </li>
  <li class="list-group-item disabled"><h2>Total: {{finalPrice() | currency:"&euro;"}}</h2>
  </li>
  </ul>
  <app-confirm [finalPrice]="finalPrice()"></app-confirm>
  <app-status-cart [price]="finalPrice()" [shopModel]="shopModel.shopItems" (add)="onConfirm()"> </app-status-cart>
 <br><br><br>

</main>