<!--importar en app.module import { FormsModule } from '@angular/forms';--><section id="forms">
    <!--<header>
    <h1>Form elements</h1></header>
    <form #formularioprimero="ngForm" (ngSubmit)="onSubmit(formularioprimero)">
    <fieldset id="forms__input">
    <legend>Input fields</legend>
    <p>
        <label for="user">Usuario</label>
        <input name="user" id="user" type="text" placeholder="Su nombre de usuario" required ngModel #user="ngModel">
    </p>
    <p>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Escriba contraseña" type="password"required ngModel #user="ngModel">
    </p>
    <p>
        <button class="btn btn-primary btn-sm" type="submit"  [disabled]="!this.formularioprimero.valid"   >Enviar</button>-->
     <!--[disabled]="!this.formularioprimero.valid", el boton sera accesible cuando los campos requeridos del formulario con la etiqueta  required ngModel sean rellenados-->
   <!--- </p>
    </fieldset>
    </form>
    </section>-->
   